apache-beam[gcp]>=2.55.0
google-cloud-storage>=2.14.0
google-cloud-pubsub>=2.19.0
google-cloud-logging==3.11.2

psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
pandas>=2.0.0
Faker>=24.0.0
apache-airflow>=2.8.0
dbt-bigquery
watchdog